.target{
	position: absolute;
	left:20%;
	top:30%;
}

.target a{
	cursor: pointer;
}

.target a:hover{
	color:blue;
}

.fp-view{
	position: absolute;
	z-index: 999;
	white-space: nowrap;
}

.target2{
	position: absolute;
	left:40%;
	top:30%;
}